<!-- Esta linha indica que este templete estende (ou herda) de um template base chamado 'layout.html'.
    o 'layout.html' normalmente contem elementos comuns a todas as páginas, como cabeçalho, rodapé e estruturas basicas de layout
-->

{% extends 'layout.html' %}

<!--Aqui começa um bloco 'title' blocos sao usados para inserir conteudo que pode variar entre diferentes templates-->

{% block title %}

home

{% endblock %}


{% block content %}

<h1>Página Inicial</h1>

<p>Conteudo de página inicial.</p>

{% endblock %}