<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Flask</title>
</head>

<body>
    <main class="container">
        <section class="conteudo">
            <h1>Exercicio 01 Flask + Template + CSS</h1>
            <p>
                Os primeiros contatos com rota, renderização e interface visual em Flask
            </p>

            <h2>Regras do exercicio</h2>

            <p>O servidor Flask cria a resposta e envia uma lista de
                tecnologias para o template.
            </p>

            <h2>Tecnologia carregadas</h2>

            <ul class="lista-tecnologias">
                {% for item in tecnologias %}

                <li>{{ item }}</li>

                {%else%}
                <li>Nenhuma tecnologia foi cadstrada.</li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>

</html>